@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* font-family: 'Montserrat', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark: #350363;
    --background:#F7ECDE;
}
html{
    font-size: 62.5%;
    font-family:'Montserrat', sans-serif;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #350363;
    overflow-x:hidden;
}
main{
    text-align: center;
    background-color: var(--background);
    border: solid var(--dark);
    border-width: 0.8rem;
    border-radius: 4rem;
    color: #1f2933;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 3rem;
}
p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
img{
    width: auto;
    height: 200px;
}
.button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    min-width: 20rem;
    background-image: linear-gradient(
        92.88deg,
        #455eb5 9.16%,
        #5643cc 43.89%,
        #673fd7 64.72%
    );
    border-radius: .8rem;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    padding: 2rem;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: rgba(0,0,0,0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
button:hover{
    box-shadow: rgba(32, 31, 42, 0.3) 0 1px 20px;
    transition-duration:0.1s;
}
button:last-child{
    background: var(--dark);
    margin-bottom: 0;
}
#welcomeScreen{
    width: 400px;
    height: 500px;
    margin-top: 40px;
}
#gameArea{
    width: 380px;
    height: 450px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#newGameButton button{
    margin: 2rem 0;
}
input{
    border: 0.1rem solid rgb(56, 54, 54);
    border-radius: 10px;
    background: transparent;
    margin: 4rem 0;
    padding: 2rem 0;
    width: 18rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.stats{
    text-align: left;
    margin-bottom:4rem ;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info  span{
    font-size: 2rem;
    color: red;
    margin-top: 0.5rem;
}
.Guess{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Guess span{
    font-size: 2rem;
    color: red;
    margin-top: 0.5rem;
}
@media (max-width: 350px){
    body{
        overflow-x: hidden;
    }
    main{
        width: auto;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
        overflow-x: hidden;
    }
    h2{
        font-size: 0.8rem;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    img{
        width: auto;
        height: 120px;
    }
    button{
        min-width: 5rem;
        padding: 8px 15px;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
    }
    #welcomeScreen{
        width: 220px;
        height: 280px;
        margin-top: 40px;
    }
    #gameArea{
        width: 220px;
        height: 320px;
        margin-top: 20px;
    }
    #newGameButton button{
        margin: 2rem 0;
    }
    input{
        margin: 0.5rem 0;
    padding: 1rem 0;
    width: 10rem;
    font-size: 0.8rem;
    border-radius: 6px;
    }
    .stats{
        text-align: left;
        margin-bottom:4rem ;
    }
    .info  span{
        font-size: 1rem;
        color: red;
        margin-top: 0.1rem;
    }
    .Guess span{
        font-size: 1rem;
        color: red;
        margin-top: 0.1rem;
    }
}
@media only screen and (min-width:350px) and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    main{
        width: auto;
        height: 450px;
        border: none;
        border-radius: 10px;
        margin-top: 10px;
    }
    h2{
        font-size: 1.4rem;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    img{
        width: auto;
        height: 180px;
    }
    .button-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    button{
        min-width: 8rem;
        padding: 14px 18px;
        font-size: 0.8rem;
        margin-bottom: 2rem;
        border-radius: .5rem;
    }
    #welcomeScreen{
        width: 330px;
        height: 420px;
        margin-top: 40px;
    }
    #gameArea{
        width: 300px;
        height: 420px;
        margin-top: 20px;
    }
    #newGameButton button{
        margin: 2rem 0;
    }
    input{
       margin: 2rem 0;
       padding: 1.5rem 1rem;
       width: 15rem;
       font-size: 1rem;
       border: 1px solid black;
       border-radius: 6px;

    }
    .stats{
        text-align: left;
        margin-bottom:4rem ;
    }
    .info  span{
        font-size: 1.5rem;
        color: red;
        margin-top: 0.5rem;
    }
    .Guess span{
        font-size: 1.5rem;
        color: red;
        margin-top: 0.5rem;
    }
}
